# Ignore environment configs and sensitive files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Mac system files
*.DS_Store

# Ignore virtual environments
venv/
finenv/

# Ignore logs and junk
*.log
*.sqlite3
